.container {
  width: min(1200px, 90%);
  margin: auto;
}

.btn-primary,
.btn-outline {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 18px;
  min-width: 120px;
  height: 42px;

  border-radius: var(--radius);
  font-size: 14px;
  font-weight: 600;

  text-decoration: none;
  white-space: nowrap;
}
